* {
    font-family: 'Roboto', sans-serif;
}
nav {
    height: 51px;
    background-color: #212121;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}
.menu .menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
}
.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 38px;
}
.subheader {
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
}
.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}
.subheader .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    color: #ffffff;
}
.subheader .subheader_call {
    text-align: right;
    margin-top: 19px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    color: #ffffff;
}
.subheader .subheader_phone {
    margin-top: 8px;
    display: block;
    text-align: right;
    line-height: 12px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}
.subheader .subheader_btn {
    margin-top: 19px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    color: #ffffff;
    width: 178px;
    height: 52px;
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
    border: none;
    border-radius: 4px;
    box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.11);
}